.lol{
    background-color: black;
    font-size: 100px; color: white;
    color: blueviolet;
}
.paragraph {
    background: black;
    font-size: 25px;
    color: white;
}
.img {
    width: 50%;
}
.blue
